*.swp
__pycache__/**
core*
*.sh
*.bin
wandb
*.pth
*.txt
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
*.ipynb
pretrained_weight/
output/
data/
dataset/
fine_tuning_v2.py
fine_tuning.py
test.py
train_vlp_v2.py
train_vlp_v1.py
README.md
env
download_scripts
docs