*.swp
__pycache__/**
core*
*.sh
*.bin
wandb
*.pth
*.txt
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
*.ipynb
pretrained_weight/
README.md
config/
docs/
env/
logs/
new/
output/
script/
unused/
command
*.err
*.out
convert.py
config_used.py
config_tobe_upload.py
config.py
debug/